/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Grace Lamb
*  
* Table of Contents
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*  2.1 Navigation
*  2.2 Current Weather
*  2.3 Wind Styles
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */

/*1.1 Normalize */
@import url('normalize.css');

/*1.2 Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');


/* 2.  General Styles (for all pages and devices) */
html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

body{
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
  }

h1,h2,h3,h4,h5,h6 {
    font-family: sansita, Eurostyle, sans-serif;
  }

.hide{
    display: none;
}

#locationSec ul{
  display:flex;
  justify-content: left; 
  list-style-type:none;
  padding-left: 5px; 
  font-size: 12px;
}

#hourlyTemps li:after {
  content: " \007C";
}

/* 2.1 Navigation */
nav ul li { 
    display: inline-block; 
    list-style: none; 
    min-height: 40px;
    font-size: 16px;
  }

nav {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    background:#0e89d5;
    width: 100vw;
    height: auto;
  }
  
nav a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: .5em;
  }  

/* 2.2 Current Weather */
#weatherLook{
  background-size:cover;
}

/* 2.3 Wind Styles */
.w{
  transform: rotate(270deg);
}

.n{
  transform: rotate(0deg);
}

.s{
  transform: rotate(180deg);
}

.e{
  transform: rotate(90deg);
}

.ne{
  transform: rotate(45deg);
}

.nw{
  transform: rotate(315deg);
}

.se{
  transform: rotate(135deg);
}

.sw{
  transform: rotate(225deg);
}
/* 3.  Mobile First (styles specific to small screens) */

body{
  width: 100vw;
}

/* Footer */
footer{
    margin-top: -15px;
    margin-bottom: 4em;
    background:#0e89d5;
   }

/* Header */
#pageHeader{
  width:100vw;
  right:0;
  left: 0;
  display: inline-block;
  background:#0e89d5;
  }

#siteBrand {
    font-size: 2em; 
    font-weight: 600;
    margin:0;
    vertical-align: baseline;  
  }

  #logo{
    font-size:2em;
    float:left;
    margin-top:auto;
    margin-bottom: auto;
    margin-right: 10px;
  }  

@media screen and (max-width: 800px) {
  nav {
      position: fixed;
      bottom: 0;
      left: 0;
    }
 }
 

/* Background pictures for summary */
.clear{
    background-image: url(/weather/images/weather-site-images/responsive-images/clear-350.jpg);
 }

.clouds{
    background-image: url(/weather/images/weather-site-images/responsive-images/clouds-300.jpg);
 }

.fog{
    background-image: url(/weather/images/weather-site-images/responsive-images/fog-600.jpg);
 }

.rain{
   background-image: url(/weather/images/weather-site-images/responsive-images/rain-500.jpg);
}

.snow{
   background-image: url(/weather/images/weather-site-images/responsive-images/snow-250.jpg);
}

/* Sections */
.tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
  }

#locationTitle{
  margin-left: 5px;
  margin-bottom: 12px;
  font-size: 1.5em;
}


#highTemp{
  color: red;
  padding-right: 10px
}

#lowTemp{
  color: blue;
  padding-left: 5px;
}

#tempSec li{
  display:inline;
}

#currentTemp{
  font-size:4em;
  font-weight: 100;
}

#forecastValues li{
  overflow-x: scroll;
  display: inline;
}

#forecastValues {
  overflow-x: auto;
  white-space: nowrap;
}

#clearimg{
  max-width: 200px;
}

#mph {
  margin-top: -80px;
  margin-bottom: 90px;
}

#windSec ul{
  list-style:none;
  text-align:left;
  margin-left:80px;
}

#windSec li{
  display: inline;
}

#compass {
  height: 150px;
  width: 150px;
  background: no-repeat center/85% url('/weather/images/weather-site-images/wind-pointer.png');
  z-index: 100;
  margin: -.6em auto 0;
}

/* 
alters the condition it is currently in 
@media screen and (min-width: 760px) {
  #conditions{
    display:flex;
  }
} */

/* 4.  Large Screen Styles (Media Queries begin here) */

@media screen and (min-width: 800px){
  body{
      max-width: 100%;
      overflow-x: hidden;
  }
  #siteBrand{
    font-size:3.5em;
  }

  #logo{
    font-size:3.5em;
  }  

  #weatherLook{
    display:flex;
    padding-top:20px;
    padding-bottom:20px;
  }

  .tile{
    flex-grow: 1;
  }

  .info{
    max-width: 30vw;
    max-height: 30vw;
  }

  #locationSec ul a{
    font-size:16px;
    max-width:35vw;
  }

  nav ul{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  footer{
    margin: 0;
  }

.clear{
    background-image: url(/weather/images/weather-site-images/responsive-images/clear-700.jpg);
 }

.clouds{
    background-image: url(/weather/images/weather-site-images/responsive-images/clouds-750.jpg);
 }

.fog{
    background-image: url(/weather/images/weather-site-images/responsive-images/fog-1200.jpg);
 }

.rain{
   background-image: url(/weather/images/weather-site-images/responsive-images/rain-1000.jpg);
}

.snow{
   background-image: url(/weather/images/weather-site-images/responsive-images/snow-500.jpg);
}

}
