/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Grace Lamb
*  
* Table of Contents
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*  2.1 Navigation
*  2.2 Current Weather
*  2.3 Wind Styles
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/*1.1 Normalize */
@import url('normalize.css');
/*1.2 Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/* 2.  General Styles (for all pages and devices) */
html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

body{
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
  }

h1,h2,h3,h4,h5,h6 {
    font-family: sansita, Eurostyle, sans-serif;
  }

/* 2.1 Navigation */
nav ul li { 
    display: inline-block; 
    list-style: none; 
    min-height: 40px;
    font-size: 16px;
  }

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background:#0e89d5;
    width: 100vw;
    height: auto;
    z-index: 1;
  }
  
nav a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: .5em;
  }  

/* 2.2 Current Weather */

/* 2.3 Wind Styles */

/* 3.  Mobile First (styles specific to small screens) */

body{
  width: 100vw;
}

/* Footer */
footer{
    margin-top: -15px;
    margin-bottom: 2em;
    background:#0e89d5;
   }

/* Header */
#pageHeader{
  width:100vw;
  right:0;
  left: 0;
  display: inline-block;
  background:#0e89d5;
  }

#siteBrand {
    font-size: 2em; 
    font-weight: 600;
    margin:0;
    vertical-align: baseline;  
  }

  #logo{
    font-size:2em;
    float:left;
    margin-top:auto;
    margin-bottom: auto;
    margin-right: 10px;
  }  

/* Sections */
.title{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
  }

#weatherLook{
  background-size:cover;
  background-image: url(/weather/images/weather-site-images/rain.jpg);
}

#locationTitle{
  margin-left: 5px;
  margin-bottom: 12px;
  font-size: 1.5em;
}

#locationInfo {
  display: flex;
  flex-direction: row;
  align-content:stretch;
  list-style:none;
  font-size:12px;
}

.lists{ 
    display: inline-block; 
    list-style: none;
}

#highTemp{
  color: red;
  padding-right: 10px
}

#lowTemp{
  color: blue;
  padding-left: 5px;
}

.temps{
  display:inline;
}

.feeltemps{
  display: block;
}

#currentTemp{
  font-size:4em;
  font-weight: 100;
}

#forecastValues li{
  overflow-x: scroll;
  display: inline;
}

#forecastValues {
  overflow-x: auto;
  white-space: nowrap;
}

#clearimg{
  max-width: 200px;
}