/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Grace Lamb
*  
* Table of Contents
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*  2.1 Navigation
*  2.2 Body
*  2.3 Footer
*  2.4 Content Pages
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */

/*1.1 Normalize */
@import url("/weather/css/normalize.css");

/*1.2 Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/* 2.  General Styles (for all pages and devices) */
html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

h1,h2,h3,h4,h5,h6 {
    font-family: sansita, Eurostyle, sans-serif;
  }

hr {
    height: 2px;
    background-color:#000000;
    margin:5px;
}

#contentTitle{
    margin: 0px;
}

.hide{
    display: none;
}

/* 2.1 Navigation */
#nav{
    background:#de2226;
    height:60px;
    display: flex;
}

#nav-list{
    display:flex;
    list-style-type: none;
    padding:0px;
    align-self: center;
} 

nav ul li {
    padding: 5px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav a:hover{
    background-color:white;
    color: #de2226;
    height:50px;
}

/* 2.2 Body */
body{
    font-family: helvetica, verdana, sans-serif;
    font-size:1.5em;
    background-image: url(/acme/images/site/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#mainDiv{
    background-color:white;
    margin: auto;
}

/* 2.3 Footer */
footer{
    text-align: center;
    color:black;
}
footer p{
    margin-top: 0px;
    margin-bottom: 0px; 
}
#rocket{
    position:relative;
}

#rocketAD{
    color: #de2226;
    position: absolute;
    list-style:none;
    margin-left:50%;
    bottom:36%;
}

/* 2.4 Content Pages */
#products{
    display:flex;
}

#right{
    margin:5%;
    margin-top:4%;
    width: 50%;
}

#left{
    margin-left:1%;
}

#productName{
    margin:0;
    margin-bottom:4%;
}

#pImg{
    margin-left: 2%;
    width: 400px;
}

#manufacturer{
    margin-bottom:0;
}

#pReviews{
    margin-top:0;
}

#price{
    color:#de2226;
    font-size:52px;
    margin-bottom:0;
}

/* 3.  Mobile First (styles specific to small screens) */
#mainDiv{
    max-width: 960px;
}

#feature{
    flex-wrap: nowrap;
    height:100%;
    width:100%;
}

#rocketTitle{
    margin-bottom:0;
}

#rocketAD{
    font-size:16px;
}

#actionbtn{
    width:96%;
}

#nav-list{
    font-size:24px;
}

#logo{
    width:75%;
}

#content{
    font-size: 52px;
}

#reviewTitle, #featuredRec{
    margin:0;
    font-size: 52px;
}

#comments{
    margin-left:5%;
    font-size: 38px;
}

#rec{
    display:flex;
    width: 900px;
    flex-wrap: wrap;
    padding: 0;
    margin:0;
 } 

#rec figure{
    width:350px;
    margin-left:4px;
    margin-right:4px;
    text-align:center;
    font-size:32px;
 }

#rec img{
    background-color: #cdcbcd;
    padding-right: 80px;
    padding-left: 80px;
    width: 350px;
} 

footer{
    font-size: 24px;
}

/* 4.  Large Screen Styles (Media Queries begin here) */
@media screen and (min-width: 800px) {
#mainDic{
    max-width:1000px;
}

#logo{
    width: auto;
}

#rocketAD{
    font-size:28px;
}

#content{
    display:flex;
    flex-direction: row-reverse;
}

#reviewTitle, #featuredRec{
    font-size: 32px;
}

#comments{
    font-size:24px;
}

#rec{
    width: 320px;
 } 

#rec figure{
    width:150px;
    margin-left:4px;
    margin-right:4px;
    font-size:18px;
    margin-top:0;
 }

#rec img{
    background-color: #cdcbcd;
    padding-right: 30px;
    padding-left: 30px;
    width: 150px;
} 
}
